<div class="row">
	  <% @plans.each do |plan| %>
	    <div class="card" style="width: 18rem;">
	    	<div class="card-img-top"><div class="text-center"><%= attachment_image_tag plan, :topphoto, format: 'jpeg', size: "284x250" %></div></div>
	      <div class="card-body">
	      	<h5 class="card-title"><%= plan.name %></h5>
	      	<p class="card-text"><%= plan.outline %></p>
	        <div style="display: flex;">
		        <a href="<%= plan_path(plan.id) %>" class="btn btn-primary">Plan</a>
		        <p style="padding: 0px 20px;">by<%= link_to plan.user.name, user_path(plan.user) %></p>
	        </div>
	      </div>
	    </div>
	  <% end %>
  <%= paginate @plans %>
</div>
